html
  head
    meta(name="keywords" content="Стоматология в Казани, Иль-Дент")
    title Стоматология Иль-Дент в Казани
    meta(name="description" content="Стоматология в Казани - Иль-Дент. Лечение любых зубных заболеваний по доступным ценам.")
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    include modules/header
   
    #breadcrumb.container-fluid
      .container.wow.fadeInLeft.animated
        .row
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            ol.breadcrumb
              li
                a(href='../../index.html', title='Главная') Главная
              li
                a(href='../index.html', title='Специалисты') Специалисты
              li.active Бабаян Давид Вячеславович
    #doctor_page.container.wow.fadeInLeft.animated
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          table.main_h1_pic
            tbody
              tr
                td
                  .main_h1_img
                    img(src='../../upload/iblock/8b8/8b8d965ec23e3814f0867502321102c4.png')
                td
                  .main_h1_title
                    | Наши специалисты
      .row.mTop30
        .col-lg-3.col-md-3.col-sm-12.xol-xs-12
          .doctor_page_img
            img.img-responsive(src='../../upload/iblock/16c/16c4b12d252edae8678a8bb41ef96cab.jpg', title='Бабаян<br>Давид Вячеславович', alt='Бабаян<br>Давид Вячеславович')
        .col-lg-9.col-md-9.col-sm-12.xol-xs-12
          .doctor_page_title
            | Бабаян Давид Вячеславович
          .doctor_page_services
            | Главный врач Врач-стоматолог ортопед
          .services_section_text
            p
              | Ведущий специалист клиники по ортопедической стоматологии.
            p
              | Окончил Московский Государственный Медико-Стоматологический Университет (МГМСУ).
            p
              | Интернатура общей практики на кафедре "Стоматологии общей практики и подготовки зубных техников ФПДО"  МГМСУ.
            p
              | Ординатура по ортопедической стоматологии на кафедре "Современных технологий протезирования" ЦНИИС и ЧЛХ.
            h2 Сертификаты специалиста:
            p
              br
            p
              img(width='600', alt='сертификат доктора Бабаяна', src='../../upload/medialibrary/09d/09da8d7de5db73e21d4cae12046371ec.jpg', height='419', title='сертификат доктора Бабаяна')
            p
              img(width='600', alt='сертификат доктора Бабаяна', src='../../upload/medialibrary/005/005c13f462000dc69c91195401899f70.jpg', height='415', title='сертификат доктора Бабаяна')
              br
            p
              img(width='600', alt='Бабаян1.jpg', src='../../upload/medialibrary/ea3/ea30098be7bcd822bd639ee8ff46fa71.jpg', height='424')
              br
            p
              br
            p
              img(width='600', alt='Бабаян3.jpg', src='../../upload/medialibrary/2af/2af1158bb78e615db2fcbda2064a6aa4.jpg', height='424')
              br
            p
              br
            p
              img(width='600', alt='Бабаян4.jpg', src='../../upload/medialibrary/de6/de643ec3f7be47d8f57ed547fe1815d1.jpg', height='424', title='Бабаян4.jpg')
              br
            p
              br
            p
              img(width='400', alt='Бабаян2.jpg', src='../../upload/medialibrary/a7a/a7a682b0298137a861677b795fe16ab7.jpg', height='566')
              br
            br
      .row
        .col-xs-12
          .doctor_page_before
            a(href='../index.html') < Вернуться к списку врачей
include modules/footer