html
  head
    meta(name="keywords" content="Стоматология в Казани, Иль-Дент")
    title Стоматология Иль-Дент в Казани
    meta(name="description" content="Стоматология в Казани - Иль-Дент. Лечение любых зубных заболеваний по доступным ценам.")
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    include modules/header
   
    #breadcrumb.container-fluid
      .container.wow.fadeInLeft.animated
        .row
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            ol.breadcrumb
              li
                a(href='/', title='Главная') Главная
              li
                a(href='/uslugi/', title='Услуги') Услуги
              li.active Лечение зубов
    #services_section.container
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          .banner-srv
            a(href='#')
              img(src='/upload/uf/343/3438d4e5ab6191d8377067f89c650256.png', alt='Лечение зубов')
          .wow.fadeInRight.animated
            .main_h1.left
              | Лечение зубов
            .services_section_text
              h2
                | Лечение зубов в стоматологии "Дантист"
              p
                | О важности лечения зубов известно всем. Это красивая улыбка, свежее дыхание,  показатель высокого социального статуса. Заболевания ротовой полости могут вызвать серьезные проблемы со здоровьем: быть причиной развития воспалительных процессов, галитоза, головных болей, патологии желудочно-кишечного тракта и даже мочеполовой системы.
              p
                | Залог здоровья зубов – своевременное лечение у стоматолога. Важно обратиться в клинику при первых признаках заболевания, а также систематически осуществлять профилактику, которая заключается в тщательной гигиене полости рта и плановом посещении стоматолога дважды в год.
              h2
                | Современное лечение зубов
              p
                | Инновационный подход к лечению позволяет осуществлять все манипуляции в центре "Дантист" быстро, эффективно и абсолютно безболезненно. Неспроста стоматологический центр попал в первую пятерку лучших клиник Москвы по результатам независимого анкетирования пациентов.
              p
                | Здесь предлагается широкий спектр стоматологических услуг. Среди всего их многообразия лечение кариеса зубов является наиболее востребованной услугой. Часто также возникает необходимость в лечении пульпита, гингивита, пародонтита, пародонтоза и других заболеваний.
              |  Сначала стоматолог собирает жалобы и проводит осмотр полости рта. При необходимости назначает рентгенологическое обследование – ортопантомограмму, ТРГ или прицельный снимок. После уточнения диагноза следует непосредственно лечебный процесс. Когда это необходимо, применяется местное обезболивание. Благодаря современным анестетикам все манипуляции совершенно безболезненны для пациента и хорошо переносятся. 
              br
              br
              |  Лечение зубов в американском стоматологическом центре "Дантист" соответствует мировым стандартам. В своей работе мы используем только передовое оборудование и современные материалы, в качестве которых уверены на все сто процентов. Результат лечения во многом определяется уровнем квалификации и практическим опытом стоматологов. В нашем центре работают настоящие профессионалы своего дела, которые решат любую стоматологическую проблему в кратчайшие сроки.
              p
              h2 Избавьтесь от зубной боли
              |  Американский стоматологический центр "Дантист" предлагает полный комплекс услуг по профилактике заболеваний полости рта. В перечень услуг входит:
              ul
                li художественная реставрация с восстановлением зуба на штифтах из стекловолокна;
                li терапевтическое лечение всех стоматологических заболеваний;
                li пломбирование зуба современными пломбировочными материалами;
                li диагностика на визиографе и рентгеноконтроль;
                li
                  | проведение всех этапов лечения эффективными лекарственными средствами и оборудованием от ведущих мировых производителей.
              p
                | Современная стоматология предъявляет особые требования к используемым материалам и лекарствам. Мы гарантируем полное соответствие всех материалов европейским стандартам. С комплексом услуг, которые предлагает наша клиника, лечение зубов станет приятной процедурой!
              h2
                | Запись на прием
              p
                | Записаться на прием вы можете через форму обратной связи у нас на сайте в разделе "Контакты", по электронной почте или указанному номеру телефона. Мы всегда идем на встречу нашим пациентам и оговариваем заранее удобное для вас время.
              p
                | Лечение зубов в 
                a(href='http://dentol.ru/clinic/995', target='_blank') стоматологии
                |  Москва, Люблино – это высокий уровень сервиса, современное оборудование и грамотные специалисты. Мы применяем новейшие технологии и заботимся о том, чтобы все процедуры были абсолютно безболезненными для пациента. Не терпите зубную боль! Позвоните и запишитесь на прием к лучшим врачам города Москвы! Стоматология Дантист у метро Братиславская, Люблино.
              p
              p
                b
                  i
                    | Будьте внимательны к своим зубкам и организм не останется в долгу, отблагодарив вас здоровьем и долголетием!
              br
              br
              br
              br
          .clearfix

include modules/footer