.mTop40
    #top
      img(src="upload/template/img/top-up.svg")
    .container.footer
      .row.wow.fadeInRight.animated
        .col-md-8.p0
          .footer-form-left
            h3 Есть вопросы? Мы готовы на них ответить!
            form
              input(placeholder="Имя" type="text")
              br
              input(type="tel" placeholder="Телефон")
              br
              input(type="textarea" placeholder="Вопрос")
              button.trans-button Отправить
        .col-md-4.p0
          .footer-form-right
            h3 Контакты
            p Адрес: Казань, 420110, улица Сафиуллина, 20к2, офис 1003
            p Телефон: 8 (965) 598-17-12
            p Email: contact@ildent.ru
            p.m0
              | Время работы: пн-пт 8:00-20:00
              br
              |         сб-вс 9:00-17:00
            button.trans-button.blue Записаться
    .mTop40
    .container.copy
      .row.wow.fadeInLeft.animated
        .col-md-3.col-xs-12
          .logo-footer
            a(href="index.html")
              img.img-responsive.logo(src="upload/template/img/logo.svg")
        .col-md-6
          .col-md-3
            ul
              li
                a(href="") Главная
              li
                a(href="") О клинике
          .col-md-3
            ul
              li
                a(href="") Услуги
              li
                a(href="") Цены
          .col-md-3
            ul
              li
                a(href="") Медперсонал
              li
                a(href="") Отзывы
          .col-md-3
            ul
              li
                a(href="") Контакты
        .col-md-3
          .copyr
            | © ООО "Иль-Дент" 2017-2018. 
            br
            | Все права защищены.
    .mTop40
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    script(type="text/javascript" src="bitrix/cache/js/s1/dantist/kernel_main/kernel_main.js?1518715470277796")
    script(type="text/javascript").
      BX.setJSList(['/bitrix/js/main/core/core.js?146418501370997','/bitrix/js/main/core/core_ajax.js?146418445020978','/bitrix/js/main/json/json2.min.js?14641844503467','/bitrix/js/main/core/core_ls.js?14641844507365','/bitrix/js/main/core/core_fx.js?14641844509592','/bitrix/js/main/core/core_popup.js?146418445031170','/bitrix/js/main/session.js?14641844512511','/bitrix/js/main/core/core_window.js?146418501374754','/bitrix/js/main/core/core_date.js?146418445034276','/bitrix/js/main/utils.js?146418445119858']);
    script(type="text/javascript").
      BX.setCSSList(['/bitrix/js/main/core/css/core.css?14641844502854','/bitrix/js/main/core/css/core_popup.css?146418445033075','/bitrix/js/main/core/css/core_date.css?14641844509689','/bitrix/templates/.default/components/bitrix/news.list/nashi_raboty/style.css?1484749961150']);
    script(src="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
    script(src="upload/template/js/jquery.matchHeight.js")
    script(src="upload/template/lib/wow/wow.min.js")
    script(type="text/javascript" src="upload/template/lib/fancybox/jquery.fancybox.pack.js?v=2.1.5")
    script(type="text/javascript" src="upload/template/lib/slick/slick.min.js")
    script(type="text/javascript" src="upload/template/js/script.js?v=1340")
    script.
      new WOW().init();