link(href="bitrix/cache/css/s1/dantist/kernel_main/kernel_main-151871547048075.css" type="text/css" rel="stylesheet")
link(href="bitrix/cache/css/s1/dantist/page_dd530f6b7f5cc42969172e3d7207eaef/page_dd530f6b7f5cc42969172e3d7207eaef-1518715470364.css" type="text/css" rel="stylesheet")
link(href="bitrix/panel/main/popup.min-146418444920704.css" type="text/css" rel="stylesheet")

link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,800,600" rel="stylesheet" type="text/css")
link(rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
link(rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css")
link(rel="stylesheet" href="upload/template/lib/wow/animate.css")
link(rel="stylesheet" href="upload/template/lib/fancybox/jquery.fancybox-v=2.1.5.css" type="text/css" media="screen")
link(rel="stylesheet" href="upload/template/lib/slick/slick-theme.css")
link(rel="stylesheet" href="upload/template/lib/slick/slick.css")
link(rel="stylesheet" href="css/main.min.css")
body
  #header
        .container.mobile
          .row.relativeClass.dogs_year_main
            .col-lg-3.col-md-3.col-sm-3.col-xs-12
              .header_logo
                a(href="index.html")
                  img.img-responsive.logo(src="upload/template/img/logo.svg")
            .col-lg-3.col-md-3.col-sm-3.col-xs-12.headerTab.activeHeaderTab-left(onclick="")
              .heder_phone.call_phone_1.mt14
                i.glyphicon.glyphicon-map-marker
                span
                  |  Казань, ул.Сафиуллина, 20к2
              .heder_phone.call_phone_1
                a(href="tel:89655981712")
                  i.glyphicon.glyphicon-earphone
                  |  8 (965) 598-17-12
            .left-line-xs.col-lg-3.col-md-3.col-sm-3.hidden-xs.col-xs-6.headerTab.show_main(onclick="")
              .heder_phone.call_phone_1.mt14
                i.glyphicon.glyphicon-earphone
                span
                  |  Пн-Пт: 8:30-20:00
              .heder_phone.call_phone_1
                i.glyphicon.glyphicon-earphone
                span
                  |  Сб-Вс: 9:00-17:00
            .col-lg-3.col-md-3.col-sm-3.col-xs-12
              div
                a(href="#")
                  .blue-button.mobile-btn Записаться на прием
        nav#top_menu.navbar
          .container
            .row
              .col-lg-12.col-md-12.col-sm-12.col-xs-12
                .navbar-header
                  button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#top_menu_collapse")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                  a.navbar-brand.visible-xs(data-toggle="collapse" href="#top_menu_collapse") Главное меню
                #top_menu_collapse.collapse.navbar-collapse
                  ul.nav.navbar-nav
                    li
                      a(href="index.html")
                        i.glyphicon.glyphicon-home
                    li
                      a(href="about.html") О клинике
                    li
                      a(href="uslugi.html") Услуги
                    li
                      a(href="price.html") Цены
                    li
                      a(href="doctora.html") Медперсонал
                    li
                      a(href="otziv.html") Отзывы
                    li
                      a(href="contact.html") Контакты
